---
---

@import "{{ site.theme }}";

body {
  background-color: #f7f9f8;
}

.wrapper {
  max-width: 1000px;
}

h1, h2, h3 {
  color: #005035;
}

a {
  color: #00703C;
  font-weight: 600;
}

a:hover {
  color: #005035;
}

header {
  border-right: 3px solid #005035;
}

hr {
  border-color: #d7e3dc;
}
